{{- $size := .size | default "md" -}}
{{- $color := .color | default "primary" -}}
{{- $link := .link -}}
{{- $border := .border -}}
{{- $style := .style -}}
{{- $attributes := .attributes -}}
{{- $content := .content -}}

{{- /* Sizes */ -}}
{{- $sizes := newScratch -}}
{{- $sizes.Set "sm" "hx:text-sm hx:px-4 hx:py-2" -}}
{{- $sizes.Set "md" "hx:text-base hx:px-5 hx:py-3" -}}
{{- $sizes.Set "lg" "hx:text-lg hx:px-6 hx:py-3" -}}
{{- $sizes.Set "xl" "hx:text-xl hx:px-7 hx:py-4" -}}

{{- /* Borders */ -}}
{{- $borders := newScratch -}}
{{- if $border -}}
  {{- $borders.Set "sm" "hx:border" -}}
  {{- $borders.Set "md" "hx:border-2" -}}
  {{- $borders.Set "lg" "hx:border-3" -}}
  {{- $borders.Set "xl" "hx:border-4" -}}
  {{- $borders.Set "auto" ($borders.Get $size) -}}
{{- end -}}

{{- /* Styles */ -}}
{{- $styles := newScratch -}}
{{- $styles.Set "default" "hx:rounded-lg" -}}
{{- $styles.Set "pills" "hx:rounded-full" -}}

{{- /* Colors */ -}}
{{- $colors := newScratch -}}
{{- $colors.Set "primary"
  (delimit (slice
      "hx:text-white"
      "hx:bg-primary-600"
      "hx:hover:bg-primary-700"
      "hx:focus:ring-primary-300"
      "hx:dark:bg-primary-600"
      "hx:dark:hover:bg-primary-700"
      "hx:dark:focus:ring-primary-800"
    )
  " ")
-}}
{{- $colors.Set "gray"
  (delimit (slice
    "hx:text-white"
    "hx:bg-gray-700"
    "hx:hover:bg-gray-800"
    "hx:focus:ring-gray-300"
    "hx:dark:bg-gray-600"
    "hx:dark:hover:bg-gray-700"
    "hx:dark:focus:ring-gray-900"
    "hx:border-gray-700"
    "hx:dark:border-gray-900"
    )
  " ")
-}}
{{- $colors.Set "purple"
  (delimit (slice
    "hx:text-white"
    "hx:bg-purple-700"
    "hx:hover:bg-purple-800"
    "hx:focus:ring-purple-300"
    "hx:dark:bg-purple-600"
    "hx:dark:hover:bg-purple-700"
    "hx:dark:focus:ring-purple-900"
    "hx:border-purple-700"
    "hx:dark:border-purple-900"
    )
  " ")
-}}
{{- $colors.Set "green"
  (delimit (slice
    "hx:text-white"
    "hx:bg-green-700"
    "hx:hover:bg-green-800"
    "hx:dark:bg-green-600"
    "hx:dark:hover:bg-green-700"
    "hx:focus:ring-green-300"
    "hx:dark:focus:ring-green-800"
    "hx:border-green-300"
    "hx:dark:border-green-800"
    )
  " ")
-}}
{{- $colors.Set "yellow"
  (delimit (slice
    "hx:text-white"
    "hx:bg-yellow-400"
    "hx:hover:bg-yellow-500"
    "hx:focus:ring-yellow-300"
    "hx:dark:focus:ring-yellow-900"
    "hx:border-yellow-300"
    "hx:dark:border-yellow-900"
    )
  " ")
-}}
{{- $colors.Set "red"
  (delimit (slice
    "hx:text-white"
    "hx:bg-red-700"
    "hx:hover:bg-red-800"
    "hx:dark:bg-red-600"
    "hx:dark:hover:bg-red-700"
    "hx:focus:ring-red-300"
    "hx:dark:focus:ring-red-900"
    "hx:border-red-300"
    "hx:dark:border-red-900"
    )
  " ")
-}}

{{- $class := print (delimit (slice
    (($sizes.Get $size) | default ($sizes.Get "md"))
    (($borders.Get $border) | default ($borders.Get "auto"))
    (($colors.Get $color) | default ($colors.Get "primary"))
    (($styles.Get $style) | default ($styles.Get "default"))
  ) " ")
-}}

{{- if $link }}

{{- $external := hasPrefix $link "http" -}}
{{- $href := cond (hasPrefix $link "/") ($link | relURL) $link -}}

<a
  href="{{ $href }}"
  class="hextra-button not-prose {{ $class }} hx:font-medium hx:cursor-pointer hx:text-center hx:inline-block hx:focus:outline-none hx:focus:ring-4 hx:transition-all hx:ease-in hx:duration-200"
  {{ if $external }}target="_blank" rel="noreferrer"{{ end -}}
>
  {{- $content -}}
</a>

{{- else -}}

<button
  class="hextra-button not-prose {{ $class }} hx:font-medium hx:cursor-pointer hx:text-center hx:inline-block hx:focus:outline-none hx:focus:ring-4 hx:transition-all hx:ease-in hx:duration-200"
>
  {{- $content -}}
</button>

{{- end -}}
