{{- $supportedAlertTypes := slice "note" "tip" "important" "warning" "caution" -}}
{{- $emojis := dict
  "note" ":memo:"
  "tip" ":bulb:"
  "important" ":information_source:"
  "warning" ":warning:"
  "caution" ":exclamation:"
-}}

{{- if not (in $supportedAlertTypes .AlertType) -}}
  <blockquote>
    {{- .Text -}}
  </blockquote>
{{- else -}}
  {{- $emoji := emojify (index $emojis .AlertType) -}}
  {{- $content := .Text -}}
  {{- $icon := "" -}}
  {{- $class := "" -}}
  {{- partial "shortcodes/callout.html" (dict "content" $content "emoji" $emoji "icon" $icon "class" $class) -}}
{{- end -}}
