{{- $context := .context -}}
{{- $page := .page -}}
{{- $nodes := slice -}}

{{- $items := where (union $context.RegularPages $context.Sections) "Params.sidebar.exclude" "!=" true -}}

{{- range $items.ByWeight -}}
  {{- $children := slice -}}
  {{- if or .RegularPages .Sections -}}
    {{- $children = partial "components/sidebar/build-auto-nodes.html" (dict "context" . "page" $page) -}}
  {{- end -}}
  {{- $nodes = $nodes | append (dict
    "link" .RelPermalink
    "title" (partial "utils/title" .)
    "items" $children
    "merge" "none"
    "open" .Params.sidebar.open
    "weight" .Weight
    "separator" (.Params.sidebar.separator | default false)
    "group" false
    "external" false
    "page" .
  ) -}}
{{- end -}}

{{- return $nodes -}}
