{{- $page := .page -}}
{{- $matched := .matched | default false -}}
{{- $nodes := slice -}}
{{- $sectionKey := "" -}}
{{- with $page.CurrentSection -}}{{- $sectionKey = .RelPermalink -}}{{- end -}}

{{- range $menuItem := site.Menus.main -}}
  {{- $menuType := $menuItem.Params.type | default "" -}}
  {{- $isIconOnly := and $menuItem.Params.icon (ne $menuType "link") -}}
  {{- if or (eq $menuType "search") (eq $menuType "theme-toggle") (eq $menuType "language-switch") $isIconOnly -}}
    {{- continue -}}
  {{- end -}}

  {{- $menuTitle := or (T $menuItem.Identifier) $menuItem.Name -}}

  {{- if $menuItem.HasChildren -}}
    {{- $childNodes := slice -}}
    {{- range $childItem := $menuItem.Children -}}
      {{- $childType := $childItem.Params.type | default "" -}}
      {{- $childIsIconOnly := and $childItem.Params.icon (ne $childType "link") -}}
      {{- if or (eq $childType "search") (eq $childType "theme-toggle") (eq $childType "language-switch") $childIsIconOnly -}}
        {{- continue -}}
      {{- end -}}

      {{- $childTitle := or (T $childItem.Identifier) $childItem.Name -}}
      {{- $childPage := $childItem.Page -}}
      {{- with $childItem.PageRef -}}
        {{- with $page.Site.GetPage . -}}
          {{- $childPage = . -}}
        {{- end -}}
      {{- end -}}

      {{- $childLink := "" -}}
      {{- with $childPage -}}
        {{- if ne .Params.sidebar.exclude true -}}
          {{- $childLink = .RelPermalink -}}
        {{- end -}}
      {{- else -}}
        {{- $childLink = $childItem.URL -}}
        {{- with $childItem.PageRef -}}
          {{- if hasPrefix . "/" -}}
            {{- $childLink = partial "utils/sidebar-link.html" . -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}

      {{- if $childLink -}}
        {{- $childIcon := "" -}}
        {{- with $childPage -}}
          {{- $childIcon = .Params.sidebar.icon | default "" -}}
        {{- end -}}
        {{- $childNodes = $childNodes | append (dict
          "link" $childLink
          "title" $childTitle
          "items" (slice)
          "merge" "none"
          "external" (hasPrefix $childLink "http")
          "page" $childPage
          "icon" $childIcon
          )
        -}}
      {{- end -}}
    {{- end -}}

    {{- if gt (len $childNodes) 0 -}}
      {{- /* Default closed; sidebar JS opens ancestors of the active link. */ -}}
      {{- $nodes = $nodes | append (dict
        "link" ""
        "title" $menuTitle
        "items" $childNodes
        "merge" "none"
        "open" false
        "external" false
        "page" false
        )
      -}}
    {{- end -}}
    {{- continue -}}
  {{- end -}}

  {{- $menuPage := $menuItem.Page -}}
  {{- with $menuItem.PageRef -}}
    {{- with $page.Site.GetPage . -}}
      {{- $menuPage = . -}}
    {{- end -}}
  {{- end -}}

  {{- with $menuPage -}}
    {{- if ne .Params.sidebar.exclude true -}}
      {{- if .Params.sidebar.separator -}}
        {{- $nodes = $nodes | append (dict "type" "separator" "title" $menuTitle "link" "" "items" (slice) "separator" true "external" false "page" .) -}}
      {{- else -}}
        {{- $children := slice -}}
        {{- if eq .Type "docs" -}}
          {{- $children = partialCached "components/sidebar/build-tree.html" (dict "context" . "page" $page "matched" $matched) .RelPermalink $page.Language.Lang $matched $sectionKey -}}
        {{- end -}}
        {{- $nodes = $nodes | append (dict
          "link" .RelPermalink
          "title" $menuTitle
          "items" $children
          "merge" "none"
          "open" (.Params.sidebar.open)
          "external" false
          "page" .
          "icon" (.Params.sidebar.icon | default "")
          )
        -}}
      {{- end -}}
    {{- end -}}
    {{- continue -}}
  {{- end -}}

  {{- $link := $menuItem.URL -}}
  {{- with $menuItem.PageRef -}}
    {{- if hasPrefix . "/" -}}
      {{- $link = partial "utils/sidebar-link.html" . -}}
    {{- end -}}
  {{- end -}}
  {{- if $link -}}
    {{- $nodes = $nodes | append (dict
      "link" $link
      "title" $menuTitle
      "items" (slice)
      "merge" "none"
      "external" (hasPrefix $link "http")
      "page" false
      )
    -}}
  {{- end -}}
{{- end -}}

{{- /* Fall back to the content tree when menu.main has no usable entries */ -}}
{{- if eq (len $nodes) 0 -}}
  {{- $navRoot := cond (eq site.Home.Type "docs") site.Home $page.FirstSection -}}
  {{- $nodes = partialCached "components/sidebar/build-tree.html" (dict "context" $navRoot "page" $page "matched" $matched) $navRoot.RelPermalink $page.Language.Lang $matched $sectionKey -}}
{{- end -}}

{{- return $nodes -}}
