{{- $node := .node -}}
{{- $active := .active | default false -}}
{{- $open := .open | default true -}}
{{- $hasChildren := .hasChildren | default false -}}

{{- if not $node.link -}}
  <div class="hextra-sidebar-item">
    <span class="hextra-sidebar-group-title {{ if $hasChildren }}hextra-sidebar-group-title-has-children{{ end }}">
      {{- with $node.icon -}}
        <span class="hextra-sidebar-link-icon hx:shrink-0 hx:inline-flex hx:items-center">
          {{- partial "utils/icon.html" (dict "name" . "attributes" `height="1em" class="hx:inline-block"`) -}}
        </span>
      {{- end -}}
      {{- $node.title -}}
    </span>
    {{- partial "components/sidebar/collapsible-button.html" (dict "hasChildren" $hasChildren "open" $open) -}}
  </div>
{{- else -}}
  <div class="hextra-sidebar-item hextra-sidebar-node" data-active="{{ if $active }}true{{ else }}false{{ end }}">
    <a
      class="hextra-sidebar-link {{ if $hasChildren }}hextra-sidebar-link-has-children{{ end }} {{ if $active }}
        hextra-sidebar-link-active hextra-sidebar-active-item
      {{ else }}
        hextra-sidebar-link-inactive
      {{ end }}"
      href="{{ $node.link }}"
      {{ if $node.external }}target="_blank" rel="noreferrer"{{ end }}
    >
      <span class="hextra-sidebar-link-content hx:flex hx:items-center hx:gap-2 hx:min-w-0">
        {{- with $node.icon -}}
          <span class="hextra-sidebar-link-icon hx:shrink-0 hx:inline-flex hx:items-center">
            {{- partial "utils/icon.html" (dict "name" . "attributes" `height="1em" class="hx:inline-block"`) -}}
          </span>
        {{- end -}}
        <span class="hextra-sidebar-link-text">{{- $node.title -}}</span>
      </span>
    </a>
    {{- partial "components/sidebar/collapsible-button.html" (dict "hasChildren" $hasChildren "open" $open) -}}
  </div>
{{- end -}}
