{{- $node := .node -}}
{{- $active := .active | default false -}}
{{- $open := .open | default true -}}
{{- $hasChildren := .hasChildren | default false -}}

{{- if $node.group -}}
  <div class="hextra-sidebar-item">
    <span class="hextra-sidebar-group-title">
      {{- $node.title -}}
    </span>
  </div>
{{- else -}}
  <div class="hextra-sidebar-item hextra-sidebar-node" data-active="{{ if $active }}true{{ else }}false{{ end }}">
    <a
      class="hextra-sidebar-link {{ if $hasChildren }}hextra-sidebar-link-has-children{{ end }} {{ if $active }}hextra-sidebar-link-active hextra-sidebar-active-item{{ else }}hextra-sidebar-link-inactive{{ end }}"
      href="{{ $node.link }}"
      {{ if $node.external }}target="_blank" rel="noreferrer"{{ end }}
    >
      <span class="hextra-sidebar-link-text">{{- $node.title -}}</span>
    </a>
    {{- if $hasChildren -}}
      <button
        type="button"
        class="hextra-sidebar-collapsible-button"
        aria-label="{{ (T "toggleSection") | default "Toggle section" }}"
        aria-expanded="{{ if $open }}true{{ else }}false{{ end }}"
      >
        <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" focusable="false" class="hextra-sidebar-collapsible-icon">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" class="hextra-sidebar-collapsible-icon-path"></path>
        </svg>
      </button>
    {{- end -}}
  </div>
{{- end -}}
