{{- range site.Menus.sidebar -}}
  {{- $name := or (T .Identifier) .Name -}}
  {{- if eq .Params.type "separator" -}}
    <li class="hextra-sidebar-separator">
      <span>{{ $name }}</span>
    </li>
  {{- else -}}
    {{- $link := .URL -}}
    {{- with .PageRef -}}
      {{- if hasPrefix . "/" -}}
        {{- $link = relLangURL (strings.TrimPrefix "/" .) -}}
      {{- end -}}
    {{- end -}}
    <li>
      {{- partial "components/sidebar/render-item.html" (dict
        "node" (dict "title" $name "link" $link "group" false "external" (hasPrefix $link "http"))
        "active" false
        "open" false
        "hasChildren" false
      ) -}}
    </li>
  {{- end -}}
{{- end -}}
