{{- with site.Menus.sidebar -}}
  {{- warnf "menu.sidebar is deprecated and will be removed in a future release; define sidebar entries in a data file instead for greater flexibility." -}}
{{- end -}}
{{- range site.Menus.sidebar -}}
  {{- $name := or (T .Identifier) .Name -}}
  {{- if eq .Params.type "separator" -}}
    <li class="hextra-sidebar-separator">
      <span>{{ $name }}</span>
    </li>
  {{- else -}}
    {{- $link := .URL -}}
    {{- with .PageRef -}}
      {{- if hasPrefix . "/" -}}
        {{- $link = partial "utils/sidebar-link.html" . -}}
      {{- end -}}
    {{- end -}}
    <li>
      {{- partial "components/sidebar/render-item.html" (dict
        "node" (dict "title" $name "link" $link "external" (hasPrefix $link "http"))
        "open" false
        "hasChildren" false
        )
      -}}
    </li>
  {{- end -}}
{{- end -}}
