{{- $currentPage := .currentPage -}}
{{- $link := .link -}}
{{- $item := .item -}}
{{- $icon := .icon -}}
{{- $external := .external -}}

{{- $active := or ($currentPage.HasMenuCurrent "main" $item) ($currentPage.IsMenuCurrent "main" $item) -}}
{{- /* Additional check for section landing pages in multilingual sites (normalize trailing slashes) */ -}}
{{- if and (not $active) $link -}}
  {{- $currentPath := strings.TrimSuffix "/" $currentPage.RelPermalink -}}
  {{- $linkPath := strings.TrimSuffix "/" $link -}}
  {{- if eq $currentPath $linkPath -}}
    {{- $active = true -}}
  {{- end -}}
{{- end -}}

{{- if $item.HasChildren -}}
  {{- /* Dropdown menu for items with children */ -}}
  <div class="hx:relative hx:hidden hx:md:inline-block">
    <button
      title="{{ or (T $item.Identifier) $item.Name | safeHTML }}"
      data-state="closed"
      class="hextra-nav-link hextra-nav-menu-toggle"
      data-active="{{ if $active }}
        true
      {{ else }}
        false
      {{ end }}"
      type="button"
      aria-label="{{ or (T $item.Identifier) $item.Name | safeHTML }}"
      aria-expanded="false"
      aria-haspopup="menu"
    >
      {{- if $icon -}}
        <span class="hx:inline-flex hx:items-center">
          {{- partial "utils/icon" (dict "name" $icon "attributes" `height="1em" class="hx:inline-block"`) -}}
        </span>
      {{- end -}}
      <span class="hx:text-center">
        {{- or (T $item.Identifier) $item.Name | safeHTML -}}
      </span>
      {{- partial "utils/icon.html" (dict "name" "chevron-down" "attributes" "height=12 class=\"hx:transition-transform hx:duration-200 hx:ease-in-out\"") -}}
    </button>
    <ul class="hextra-nav-menu-items hx:hidden" style="min-width: 100px;" role="menu">
      {{ range $item.Children }}
        {{- $link := .URL -}}
        {{- $external := strings.HasPrefix $link "http" -}}
        {{- with .PageRef -}}
          {{- if hasPrefix . "/" -}}
            {{- $link = relLangURL (strings.TrimPrefix "/" .) -}}
          {{- end -}}
        {{- end -}}
        <li role="none" class="hextra-nav-menu-item">
          <a
            href="{{ $link }}"
            {{ if $external }}target="_blank" rel="noreferrer"{{ end }}
            role="menuitem"
            class="hextra-nav-menu-link"
          >
            {{- if and (eq .Params.type "link") .Params.icon -}}
              <span class="hx:inline-flex hx:items-center">
                {{- partial "utils/icon" (dict "name" .Params.icon "attributes" `height="1em" class="hx:inline-block"`) -}}
              </span>
            {{- end -}}
            {{- or (T .Identifier) .Name | safeHTML -}}
          </a>
        </li>
      {{- end -}}
    </ul>
  </div>
{{- else -}}
  {{- /* Regular menu item without children */ -}}
  <a
    title="{{ or (T .Identifier) .Name | safeHTML }}"
    href="{{ $link }}"
    {{ if $external }}target="_blank" rel="noreferrer"{{ end }}
    class="hextra-nav-link hx:hidden hx:md:inline-flex"
    data-active="{{ if $active }}
      true
    {{ else }}
      false
    {{ end }}"
  >
    {{- if $icon -}}
      <span class="hx:inline-flex hx:items-center">
        {{- partial "utils/icon" (dict "name" $icon "attributes" `height="1em" class="hx:inline-block"`) -}}
      </span>
    {{- end -}}
    <span class="hx:text-center">
      {{- or (T $item.Identifier) $item.Name | safeHTML -}}
    </span>
  </a>
{{- end -}}
