{{ define "main" }}
  <div class='mx-auto flex {{ partial "utils/page-width" . }}'>
    {{ partial "sidebar.html" (dict "context" . "disableSidebar" true "displayPlaceholder" true) }}
    {{ partial "toc.html" . }}
    <article class="w-full break-words flex min-h-[calc(100vh-var(--navbar-height))] min-w-0 justify-center pb-8 pr-[calc(env(safe-area-inset-right)-1.5rem)]">
      <main class="w-full min-w-0 max-w-6xl px-6 pt-4 md:px-12">
        {{ partial "breadcrumb.html" . }}
        <h1 class="mt-2 text-4xl font-bold tracking-tight text-slate-900 dark:text-slate-100">{{ .Title }}</h1>
        {{ with $date := .Date }}
          <div class="mt-4 mb-16 text-gray-500 text-sm">
            {{ partial "utils/format-date" $date }}
            {{- if $.Params.authors }}&nbsp;by&nbsp;{{ end -}}
            {{- with $.Params.authors -}}
              {{- range $i, $author := . -}}
                {{- if $i }},{{ end -}}
                {{- if $author.link -}}
                  <a href="{{ $author.link }}" target="_blank" class="mx-1 text-current underline [text-underline-position:from-font] decoration-from-font">{{ $author.name }}</a>
                {{- else -}}
                  <span>{{ $author.name }}</span>
                {{- end -}}
              {{- end -}}
            {{- end -}}
          </div>
        {{ end }}
        <div class="content">
          {{ .Content }}
        </div>
        {{ partial "components/last-updated.html" . }}
        {{ .Scratch.Set "reversePagination" true }}
        {{ partial "components/pager.html" . }}
        {{ partial "components/comments.html" . }}
      </main>
    </article>
  </div>
{{ end }}
