{{ define "main" }}
  <div class='hx:mx-auto hx:flex hextra-max-page-width'>
    {{ partial "sidebar.html" (dict "context" . "disableSidebar" true "displayPlaceholder" true) }}
    {{ partial "toc.html" (dict "Params" (dict "toc" false)) }}
    <article class="hx:w-full hx:break-words hx:flex hx:min-h-[calc(100vh-var(--navbar-height))] hx:min-w-0 hx:justify-center hx:pb-8 hx:pr-[calc(env(safe-area-inset-right)-1.5rem)]">
      <main class="hx:w-full hx:min-w-0 hx:max-w-6xl hx:px-6 hx:pt-4 hx:md:px-12">
        <br class="hx:mt-1.5 hx:text-sm" />
        {{ if .Title }}<h1 class="hx:text-center hx:mt-2 hx:text-4xl hx:font-bold hx:tracking-tight hx:text-slate-900 hx:dark:text-slate-100">{{ .Title }}</h1>{{ end }}
        <div class="hx:mb-16"></div>
        <div class="content">
          {{ .Content }}
        </div>
        <div>
          {{- range .Pages -}}
            <div>
              <h3>
                <a
                  style="color: inherit; text-decoration: none;"
                  class="hx:block hx:font-semibold hx:mt-8 hx:text-2xl"
                  href="{{ .RelPermalink }}"
                  title="{{ .LinkTitle }}"
                >
                  {{ .Title }}
                </a>
              </h3>
              <p class="hx:opacity-50 hx:text-sm hx:leading-7">{{ partial "utils/format-date" .Date }}</p>
            </div>
          {{- end -}}
        </div>
      </main>
    </article>
  </div>
{{ end }}
