{{ define "main" }}
  <div class="mx-auto flex max-w-[90rem]">
    {{ partial "sidebar.html" (dict "context" . "disableSidebar" true "displayPlaceholder" false) }}
    <article class="w-full break-words min-h-[calc(100vh-var(--navbar-height))] min-w-0 pt-4 pb-8 pl-[max(env(safe-area-inset-left),1.5rem)] pr-[max(env(safe-area-inset-left),1.5rem)]">
      <br class="mt-1.5 text-sm" />
      <h1 class="text-center mt-2 text-4xl font-bold tracking-tight text-slate-900 dark:text-slate-100">{{ .Title }}</h1>
      <div class="content">
        {{ .Content }}
      </div>
    </article>
  </div>
{{ end }}
