@import "tailwind.css";

@import "typography.css";
@import "highlight.css";
@import "components/cards.css";
@import "components/steps.css";
@import "components/search.css";
@import "components/sidebar.css";
@import "components/navbar.css";
@import "components/scrollbar.css";
@import "components/code-copy.css";
@import "components/hextra/feature-grid.css";
@import "components/jupyter.css";
@import "components/badge.css";

html {
  @apply hx-text-base hx-antialiased;
  font-feature-settings: "rlig" 1, "calt" 1, "ss01" 1;
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply hx-w-full hx-bg-white dark:hx-bg-dark dark:hx-text-gray-100;
}

:root {
  --primary-hue: 212deg;
  --primary-saturation: 100%;
  --primary-lightness: 50%;
  --navbar-height: 4rem;
  --menu-height: 3.75rem;
}

.dark {
  --primary-hue: 204deg;
  --primary-saturation: 100%;
  --primary-lightness: 50%;
}
