@media (max-width: 767px) {
  .sidebar-container {
    @apply fixed pt-[calc(var(--navbar-height))] top-0 w-full bottom-0 z-[15] overscroll-contain bg-white dark:bg-dark;
    transition: transform 0.8s cubic-bezier(0.52, 0.16, 0.04, 1);
    will-change: transform, opacity;
    contain: layout style;
    backface-visibility: hidden;
  }
}

.sidebar-container {
  li > div {
    @apply h-0;
  }
  li.open > div {
    @apply h-auto;
  }
  li.open > a > span > svg > path {
    @apply rotate-90;
  }
}
