@media (max-width: 48rem) {
  .hextra-sidebar-container {
    @apply hx:fixed hx:pt-[calc(var(--navbar-height)+var(--hextra-banner-height))] hx:top-0 hx:w-full hx:bottom-0 hx:z-15 hx:overscroll-contain hx:bg-white hx:dark:bg-dark;
    transition: transform 0.4s cubic-bezier(0.52, 0.16, 0.04, 1);
    will-change: transform, opacity;
    contain: layout style;
    backface-visibility: hidden;
  }
}

.hextra-sidebar-list {
  @apply hx:flex hx:flex-col hx:gap-1;
}

.hextra-sidebar-tree {
  @apply hx:relative hx:flex hx:flex-col hx:gap-1 hx:ltr:ml-3 hx:ltr:pl-3 hx:ltr:before:left-0 hx:rtl:mr-3 hx:rtl:pr-3 hx:rtl:before:right-0 hx:before:absolute hx:before:inset-y-1 hx:before:w-px hx:before:bg-gray-200 hx:before:content-[""] hx:dark:before:bg-neutral-800;
}

.hextra-sidebar-separator {
  @apply hx:mt-5 hx:mb-2 hx:px-2 hx:py-1.5 hx:text-sm hx:font-semibold hx:text-gray-900 hx:first:mt-0 hx:dark:text-gray-100;
  word-break: break-word;
}

.hextra-sidebar-group-label {
  @apply hx:flex hx:grow hx:cursor-default hx:px-2 hx:py-1.5 hx:text-sm hx:font-semibold hx:text-gray-900 hx:dark:text-gray-100;
  word-break: break-word;
}

.hextra-sidebar-item {
  @apply hx:relative hx:flex hx:items-center;
}

.hextra-sidebar-link {
  @apply hx:flex hx:grow hx:cursor-pointer hx:items-center hx:justify-between hx:gap-2 hx:rounded-sm hx:px-2 hx:py-1.5 hx:text-sm hx:transition-colors hx:hextra-focus-visible-inset;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.hextra-sidebar-link-content {
  @apply hx:min-w-0;
  word-break: break-word;
}

.hextra-sidebar-item[data-active="true"] > .hextra-sidebar-link {
  @apply hx:bg-primary-100 hx:font-semibold hx:text-primary-800 hx:contrast-more:border hx:contrast-more:border-primary-500 hx:dark:bg-primary-400/10 hx:dark:text-primary-600 hx:contrast-more:dark:border-primary-500;
}

.hextra-sidebar-item[data-active="false"] > .hextra-sidebar-link {
  @apply hx:text-gray-500 hx:hover:bg-gray-100 hx:hover:text-gray-900 hx:contrast-more:border hx:contrast-more:border-transparent hx:contrast-more:text-gray-900 hx:contrast-more:hover:border-gray-900 hx:dark:text-neutral-400 hx:dark:hover:bg-primary-100/5 hx:dark:hover:text-gray-50 hx:contrast-more:dark:text-gray-50 hx:contrast-more:dark:hover:border-gray-50;
}

.hextra-sidebar-toc-link {
  @apply hx:flex hx:cursor-pointer hx:gap-2 hx:rounded-sm hx:px-2 hx:py-1.5 hx:text-sm hx:text-gray-500 hx:transition-colors hx:before:opacity-25 hx:before:content-['#'] hx:hover:bg-gray-100 hx:hover:text-gray-900 hx:contrast-more:border hx:contrast-more:border-transparent hx:contrast-more:text-gray-900 hx:contrast-more:hover:border-gray-900 hx:dark:text-neutral-400 hx:dark:hover:bg-primary-100/5 hx:dark:hover:text-gray-50 hx:contrast-more:dark:text-gray-50 hx:contrast-more:dark:hover:border-gray-50;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  word-break: break-word;
}

.hextra-sidebar-collapsible-button {
  @apply hx:absolute hx:top-1/2 hx:shrink-0 hx:-translate-y-1/2 hx:cursor-pointer hx:p-0 hx:text-gray-500 hx:ltr:right-2 hx:rtl:left-2 hx:dark:text-neutral-400 hx:hextra-focus-visible-inset;
}

.hextra-sidebar-item:hover > .hextra-sidebar-collapsible-button {
  @apply hx:text-gray-900 hx:dark:text-gray-50;
}

.hextra-sidebar-item[data-active="true"] > .hextra-sidebar-collapsible-button {
  @apply hx:text-primary-800 hx:dark:text-primary-600;
}

.hextra-sidebar-collapsible-button svg {
  @apply hx:h-[18px] hx:min-w-[18px] hx:rounded-xs hx:p-0.5 hx:hover:bg-gray-800/5 hx:dark:hover:bg-gray-100/5;
}

.hextra-sidebar-collapsible-button path {
  @apply hx:origin-center hx:transition-transform hx:rtl:-rotate-180;
}

.hextra-sidebar-container {
  li > .hextra-sidebar-children {
    @apply hx:h-0 hx:overflow-hidden hx:ltr:pr-0 hx:rtl:pl-0;
  }
  li.open > .hextra-sidebar-children {
    @apply hx:h-auto hx:pt-1;
  }
  li.open > .hextra-sidebar-item > .hextra-sidebar-collapsible-button > svg > path {
    @apply hx:rotate-90;
  }
}
