{{- $size := .Get "size" | default "md" -}}
{{- $color := .Get "color" | default "primary" -}}
{{- $link := .Get "link" -}}
{{- $border := .Get "border" -}}
{{- $shape := .Get "shape" -}}
{{- $icon := .Get "icon" -}}
{{- $iconPosition := .Get "iconPosition" -}}
{{- $attributes := .Get "attributes" -}}

{{- partial "shortcodes/button" (dict
  "size" $size
  "color" $color
  "link" $link
  "border" $border
  "shape" $shape
  "attributes" $attributes
  "icon" $icon
  "iconPosition" $iconPosition
  "content" .Inner
  )
-}}
