{{- $context := .context -}}

{{- $disableSidebar := .disableSidebar | default false -}}
{{- $displayPlaceholder := .displayPlaceholder | default false -}}

{{- $sidebarClass := cond $disableSidebar (cond $displayPlaceholder "md:hidden xl:block" "md:hidden") "md:sticky" -}}

{{- $navRoot := cond (eq site.Home.Type "docs") site.Home $context.FirstSection -}}
{{- $pageURL := $context.RelPermalink -}}


<aside class="sidebar-container flex flex-col print:hidden md:top-16 md:shrink-0 md:w-64 md:self-start max-md:[transform:translate3d(0,-100%,0)] {{ $sidebarClass }}">
  {{/* Search bar on small screen */}}
  {{- partialCached "sidebar/mobile-search" . -}}

  <div class="hextra-scrollbar overflow-y-auto overflow-x-hidden p-4 grow md:h-[calc(100vh-var(--navbar-height)-var(--menu-height))]">
    <ul class="flex flex-col gap-1 md:hidden">
      {{/* Mobile Navigation */}}
      {{ $treeMobile := partialCached "sidebar/section-tree" site.Home site.Home }}
      {{ partial "sidebar/render-tree" (dict "context" site.Home "page" $context "tree" ($treeMobile | unmarshal)) }}
      {{ partialCached "sidebar/extra" $context }}
    </ul>

    {{/* Sidebar on large screen */}}
    <ul class="flex flex-col gap-1 max-md:hidden">
      {{ $tree := partialCached "sidebar/section-tree" $navRoot $navRoot }}
      {{ partial "sidebar/render-tree" (dict "context" $navRoot "page" $context "tree" ($tree | unmarshal)) }}
      {{ partialCached "sidebar/extra" $context }}
    </ul>
  </div>

  {{ partial "sidebar/switches" (dict "context" $context "disableSidebar" $disableSidebar) }}
</aside>

{{- define "partials/sidebar/mobile-search" -}}
  <div class="px-4 pt-4 md:hidden">
    {{- partialCached "search.html" . -}}
  </div>
{{- end -}}

{{- define "sidebar-item-link" -}}
  {{- $external := strings.HasPrefix .link "http" -}}
  <a
    class="flex items-center justify-between gap-2 cursor-pointer rounded px-2 py-1.5 text-sm transition-colors [-webkit-tap-highlight-color:transparent] [-webkit-touch-callout:none] [word-break:break-word]
    {{- if .active }}
      sidebar-active-item bg-primary-100 font-semibold text-primary-800 contrast-more:border contrast-more:border-primary-500 dark:bg-primary-400/10 dark:text-primary-600 contrast-more:dark:border-primary-500
    {{- else }}
      text-gray-500 hover:bg-gray-100 hover:text-gray-900 contrast-more:border contrast-more:border-transparent contrast-more:text-gray-900 contrast-more:hover:border-gray-900 dark:text-neutral-400 dark:hover:bg-primary-100/5 dark:hover:text-gray-50 contrast-more:dark:text-gray-50 contrast-more:dark:hover:border-gray-50
    {{- end -}}"
    href="{{ .link }}"
    {{ if $external }}target="_blank" rel="noreferer"{{ end }}
  >
    {{- .title | htmlUnescape | safeHTML -}}
    {{- with .context }}
      {{- if or .RegularPages .Sections .section }}{{ partialCached "sidebar/collapsible-button" . }}{{ end -}}
    {{ end -}}
  </a>
{{- end -}}

{{- define "partials/sidebar/switches" -}}
  {{- $context := .context -}}
  {{- $disableSidebar := .disableSidebar -}}
  {{/* Hide theme switch when sidebar is disabled */}}
  {{ $switchesClass := cond $disableSidebar "md:hidden" "" -}}
  {{ $displayThemeToggle := (site.Params.theme.displayToggle | default true) -}}

  {{ if or site.IsMultiLingual $displayThemeToggle }}
    <div class="{{ $switchesClass }} {{ with site.IsMultiLingual }}justify-end{{ end }} sticky bottom-0 bg-white dark:bg-dark mx-4 py-4 shadow-[0_-12px_16px_#fff] flex items-center gap-2 dark:border-neutral-800 dark:shadow-[0_-12px_16px_#111] contrast-more:border-neutral-400 contrast-more:shadow-none contrast-more:dark:shadow-none border-t" data-toggle-animation="show">
      {{- with site.IsMultiLingual -}}
        {{- partial "language-switch" (dict "context" $context "grow" true) -}}
        {{- with $displayThemeToggle }}{{ partial "theme-toggle" (dict "hideLabel" true) }}{{ end -}}
      {{- else -}}
        {{- with $displayThemeToggle -}}
          <div class="flex grow flex-col">{{ partial "theme-toggle" }}</div>
        {{- end -}}
      {{- end -}}
    </div>
  {{- end -}}
{{- end -}}
