{{- $content := .content -}}
{{- $emoji := .emoji -}}
{{- $icon := .icon -}}

{{- $defaultClass := "hx:border-orange-100 hx:bg-orange-50 hx:text-orange-800 hx:dark:border-orange-400/30 hx:dark:bg-orange-400/20 hx:dark:text-orange-300" -}}

{{- $class := .class | default $defaultClass -}}


<div class="hx:overflow-x-auto hx:mt-6 hx:flex hx:rounded-lg hx:border hx:py-2 hx:ltr:pr-4 hx:rtl:pl-4 hx:contrast-more:border-current hx:contrast-more:dark:border-current {{ $class }}">
  <div class="hx:ltr:pl-3 hx:ltr:pr-2 hx:rtl:pr-3 hx:rtl:pl-2">
    {{- with $emoji -}}
      <div class="hx:select-none hx:text-xl" style="font-family: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';">
        {{- . -}}
      </div>
    {{- else -}}
      {{- with $icon -}}
        {{ partial "utils/icon.html" (dict "name" . "attributes" `height=1.2em class="hx:inline-block hx:align-middle"`) -}}
      {{- end -}}
    {{- end -}}
  </div>

  <div class="hx:w-full hx:min-w-0 hx:leading-7">
    <div class="hx:mt-6 hx:leading-7 hx:first:mt-0">
      {{- $content -}}
    </div>
  </div>
</div>
